*{
    padding: 0px;
    margin: 0px;
}


body{
    background: beige;
}


div{
    margin: auto;
    width: 500px;
    margin-top: 20px;
    border: black 1px solid;
    text-align: center;
    color: black;
    font-size: 18px;
    margin-bottom: 20px;
}


section{
    margin: auto;
    margin-top: 20px;
    width: 500px;
    text-align: center;
    font-size: 18px;
    border: black 1px solid;
    margin-bottom: 20px;
}